@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900&display=swap');

@font-face {
    font-family: 'Organic Relief';
    src: url('./assets/fonts/OrganicRelief.ttf');
    /* IE9 Compatibility Modes */
    src: url('./assets/fonts/OrganicRelief.ttf'),
        /* IE6-IE8 */
        url('./assets/fonts/OrganicRelief.ttf'),
        /* Super Modern Browsers */
        url('./assets/fonts/OrganicRelief.ttf'),
        /* Pretty Modern Browsers */
        url('./assets/fonts/OrganicRelief.ttf'),
        /* Safari, Android, iOS */
        url('./assets/fonts/OrganicRelief.ttf'),
        /* Legacy iOS */
}

@font-face {
    font-family: 'Sugarpunch';
    src: url('./assets/fonts/Sugarpunch.otf');
    /* IE9 Compatibility Modes */
    src: url('./assets/fonts/Sugarpunch.otf'),
        /* IE6-IE8 */
        url('./assets/fonts/Sugarpunch.otf'),
        /* Super Modern Browsers */
        url('./assets/fonts/Sugarpunch.otf'),
        /* Pretty Modern Browsers */
        url('./assets/fonts/Sugarpunch.otf'),
        /* Safari, Android, iOS */
        url('./assets/fonts/Sugarpunch.otf'),
        /* Legacy iOS */
}

:root {
    font-size: 62.5%;
    /* 
    100% ----- 16px
    x  ------- 10px
    
    1rem = 10px
    */
    --nav-height: 10rem;
    --nav-height-desktop: 8rem;

    color: var(--primary-color-01);
}

:root.dark {
    --primary-color-01: #FFFFFF;
    --secondary-color-01: #000000;

    --background-02: #040305;
}

:root.light {
    --primary-color-01: #000000;
    --secondary-color-01: #FFFFFF;

    --background-02: #EEE9F0;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    box-sizing: border-box;
    /* As caixas agora passam a ser contadas a partir da borda, e não do conteúdo, evitando problemas com o "padding" */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;

    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Roboto SlabVariable'
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto SerifVariable', serif;
    font-size: 1.6rem;
    text-align: center;

    overflow: overlay;
    background-color: var(--secondary-color-01);
    transition: 0.275s;
}

main {
    margin-inline: auto;
    margin-top: var(--nav-height);
}

.wrapper {
    width: 75%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
}

.bolder {
    font-weight: 800;
}

.big {
    font-size: 1.8rem;
    font-weight: 700;
}

.underlined {
    text-decoration: underline;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 10rem;
    gap: 6.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--primary-color-01)
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.button {
    cursor: pointer;
    transition: 0.3s;
}

button {
    background-color: initial;
    border: none;
    text-align: center;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

@media (min-width: 1024px) {
    .wrapper {
        width: calc(100% - 25rem);
    }
}